<!DOCTYPE html>
<html>
<head>
<meta http-equiv="CONTET-TYPE" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=divice-width,initial-scale=1.0,user-scalable=no">
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% block content %}
	{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
